@model UserCreateViewModel

<div class="container">
    <div class="text-center mt-5">
        <h1>Create New User</h1>

    </div>
</div>
<div class="text-danger text-center " asp-validation-summary="All"></div>

<div class="d-flex justify-content-center">

    <form method="post" asp-controller="User" asp-action="CreateUser">

        <div class="mb-3">
            <label for="UserName" class="form-label">User Name</label>
            <input asp-for="UserName" class="form-control" aria-describedby="UserNameHelp">
        </div>

        <div class="mb-3">
            <label for="Fullname" class="form-label">Full Name</label>
            <input asp-for="FullName" class="form-control" aria-describedby="FullNameHelp">
        </div>

        <div class="mb-3">
            <label for="Email" class="form-label">Email</label>
            <input asp-for="Email" class="form-control" aria-describedby="emailHelp">
            @*<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>*@
        </div>

        <div class="mb-3">
            <label for="Password" class="form-label">Password</label>
            <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1">
        </div>

        <div class="mb-3">
            <label for="RePassword" class="form-label">Re-Enter Password</label>
            <input asp-for="RePassword" type="password" class="form-control" id="RePassword">
        </div>

        <button type="submit" class="btn btn-primary">Sign-In</button>
    </form>



</div>

